@font-face {
 font-family: 'Gothamy';
 src: local('Gotham Book'), local('Gotham-Book');
 font-weight: normal;
 font-style: normal;
 font-variant: normal;
}
@font-face {
 font-family: 'Gothamy';
 src: local('Gotham Bold'), local('Gotham-Bold');
 font-weight: bold;
 font-style: normal;
 font-variant: normal;
}
@font-face {
 font-family: 'Gothamy';
 src: local('Gotham Book Italic'), local('Gotham-BookItalic');
 font-weight: normal;
 font-style: italic;
 font-variant: normal;
}
@font-face {
 font-family: 'Gothamy';
 src: local('Gotham Bold Italic'), local('Gotham-BoldItalic');
 font-weight: bold;
 font-style: italic;
 font-variant: normal;
}
input, button, textarea, select {
  font-family: monospace;
  text-align: left;
}
textarea.output{
  resize: none;
  background-color: white !important;
  color: inherit !important;
  overflow:auto;
}
.color-black{
  color: #000000;
}
.color-white{
  color: #FFFFFF;
}
.color-gold{
  color: #FCD450;
}
.color-red{
  color: #F77777;
}
.color-pink{
  color: #FF88DD;
}
.color-success{
  color: #5cb85c;
}
.color-danger{
  color:#d9534f;
}
.button-error {
    background: #d9534f; /* this is a maroon */
    color:white;
}
.text-center{
  text-align: center;
}
.contract-output{
  line-height: 37px;
}
#app{
  margin:0 auto;
}
body{
  font-family: Gothamy, Gotham-Book, Arial, sans-serif;
  background-color: #FCD450;
}
.pure-g [class *="pure-u"]{
  font-family: Gothamy, Gotham-Book, Arial, sans-serif;
}
footer{
  font-size: 0.8em;
  padding:10px;
}
a,a:visited{
  color: black;
  text-decoration: none;
}
input:focus, textarea:focus{
  border-color: black !important;
}
